.body{
    position: relative;
    top: 0rem;
    overflow: auto;
    // min-width: 20rem;
    // z-index: 20;
}

form{
    padding: 1.2rem;
    text-align: center;
    border: none;
    //border-radius: 10px;
    //background-color: #316ec967;
    //padding: 20px 35px;
}
// form *{
//     font-family: 'Poppins',sans-serif;
//     letter-spacing: 0.5px;
//     //outline: none;
//     border: none;
//     overflow: auto;
// }

// form h3{
//     font-size: 32px;
//     font-weight: 500;
//     line-height: 42px;
//     text-align: center;
// }

.publishers,
.hashtagges,
.tag-friends{
    width: 3rem;
    //background-color:white;
}
label{
    display: block;
    // margin-top: 30px;
    // font-size: 16px;
    // font-weight: 500;
}
input{
    display: block;
    //height: 50px;
   // width: 100%;
    //background-color:white;
    // background-color: rgba(130, 171, 219, 0.342);
    border-radius: 1px;
     padding: 0.5rem;
    // margin-top: 8px;
    // font-size: 14px;
     font-weight: 300;
    margin: 0.7rem;
}

button {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}
// .display-center{
//     text-align: center;
// }

.error{
    color: rgb(161, 4, 4);
  }

  