<div class = "body">
    <form [formGroup]="filterForm" (ngSubmit)="submitPost()">
        <label for="DateFrom">Date From</label>
        <input formControlName="DateFrom" type="date" placeholder="YYYY-MM-DD"/>
        <div class="error" *ngIf="
        filterForm.controls['DateFrom'].touched &&
        filterForm.controls['DateFrom'].invalid
          ">
          DateFrom not valid
        </div>

        <label for="DateTo">Date To</label>
        <input formControlName="DateTo" type="date" />
        <div class="error" *ngIf="
            filterForm.controls['DateTo'].touched &&
            filterForm.controls['DateTo'].invalid
          ">
          DateTo not valid
        </div>
    <div class="publishers">
      <app-users-chip [placeHolder]="placeholder('Publishers')" (publishersAdded)="addPublishersFilter($event)"></app-users-chip>
    </div>
   <div class="hashtagges">
    <app-tags-chip [placeHolder]="placeholder('Hashtags')" (tagsChosen)="addTaggesFilter($event)"></app-tags-chip>
   </div>
   <div class="tag-friends">
    <app-users-chip [placeHolder]="placeholder('Friends')" (usersTaggedInComment)="addUserTaggedFilter($event)"></app-users-chip>
   </div>
        <!-- <label for="Publishers">Publishers</label>
        <input formControlName="Publishers" type="text" />
        <div class="error" *ngIf="
            filterForm.controls['Publishers'].touched &&
            filterForm.controls['Publishers'].invalid
          ">
          Publishers not valid
        </div> -->

<!-- 
        <label for="Tags">Tags</label>
        <input formControlName="Tags" type="text" />
        <div class="error" *ngIf="
            filterForm.controls['Tags'].touched &&
            filterForm.controls['Tags'].invalid
          ">
          Tags not valid
        </div> -->


        <!-- <label for="TagsUsers">Users</label>
        <input formControlName="TagsUsers" type="text" />
        <div class="error" *ngIf="
            filterForm.controls['TagsUsers'].touched &&
            filterForm.controls['TagsUsers'].invalid
          ">
          TagsUsers not valid
        </div> -->




        <div class="display-center">
            <button type="submit" class="btn" >
                Filter posts
            </button>
        </div>
    </form>
  </div>