<div *ngFor="let post of posts" class="post">
    <div class="user-name">
      {{ post.user?.firstName }} {{ post.user?.lastName }}
      <button mat-raised-button (click)="openEditDialog(post.id)" class="add-post-btn edit-btn" *ngIf= "isMypost(post.id)">
        <img
        src="..\..\..\assets\edit-logo2.png"
        alt=""
        class="comment-btn-logo"
      />
      </button>
    </div>
   
    <div class="date-posted">{{ post.date | date: "short" }}</div>
    <div>{{ post.description }}</div>
    <div class= "post-img"><img  src="{{ post.imageSorce }}" alt="{{ post.description }}" /></div>
    <div>
    
    </div>
    
    <div class="display-likes" *ngIf="checkIfDisplayLikesPressed(post)">
      <div class="likes-container">
        <button (click)="exitLikesScreen(post)">
          <img
            src="..\..\..\assets\exit-btn-logo.png"
            alt=""
            class="exit-btn"
          />
        </button>
        <div *ngFor="let like of post.likes">
          {{ like.user?.firstName }} {{ like.user?.lastName }}
        </div>
      </div>
    </div>
    <div class="likes-and-comments">
      <button class="show-likes-btn" (click)="showLikesList(post)">
        {{ findIndex(post) }} Likes<img
          src="..\..\..\assets\like-logo.png"
          alt="like-logo"
          class="like-logo"
        />
        <img
          src="..\..\..\assets\love-logo.png"
          alt="love-logo"
          class="love-logo"
        />
      </button>
      <button (click)="showComments(post)" class="show-comment-btn">
        {{ post.comments?.length }} Comments
      </button>
    </div>
    <div class="post-options">
      <button
        class="like-btn"
        (click)="highlightLike(post)"
        [class.liked]="checkIfLiked(post)"
      >
        Like<img
          src="..\..\..\assets\like-logo-original.png"
          alt=""
          class="like-btn-logo"
        />
      </button>

      <button mat-raised-button (click)="openDialog(post)">
        Comment<img
        src="..\..\..\assets\comment-logo.png"
        alt=""
        class="comment-btn-logo"
      />
      </button>
    </div>
    <div class="comments-container" *ngIf="checkIfDisplayComments(post)">
     
      <div *ngFor="let comment of post.comments" class="comment">
        <div class="comment-div">
          <div class="comment-user">
            {{ comment.user?.firstName }} {{ comment.user?.lastName }}
          </div>
          <div class="comment-content">{{ comment.content }}</div>
          <div *ngIf="comment.tags !== null">
            <span *ngFor="let hashtag of comment.tags">
              {{ hashtag.content }}
            </span>
          </div>
          <div *ngIf="comment.userTaggedComment !== null">
            <span *ngFor="let userTagged of comment.userTaggedComment">
              {{ userTagged.user?.firstName }} {{ userTagged.user?.lastName }}
            </span>
          </div>
        </div>
      </div>
    </div>
 
</div>
