
.post {
    width: 100%;
    padding: 0.5em 0em;
    width: 60%;

    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    margin: 1rem auto;
    padding: 1rem;
    min-width: 20rem;
  }
  .post-img{  
    margin-bottom: 2rem;
    display: flex;
  }
  body{
    font-family: 'Roboto', sans-serif;
    //background-color: rgba(0, 0, 0, 0.05);
  }

  .posts-container {
    // height: 40vh;
    //  overflow: auto;
    //margin: 0 auto;
    //height: 40vh;
    margin-top: 2rem;
    margin: 0 0 0 5rem;
    padding: 2rem 2rem 2rem 0;
    overflow: auto;
    //max-width: 100%;
    //background-color: rgba(0, 0, 0, 0.05);
  }
  .show-likes-btn{
    display: inline;
    text-align: right;
  }
  .show-comment-btn{
    display: inline;
    //position: absolute;
    //right: 0;
    float: right;
  }
  img{
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
  }
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.date-posted{
  font-size: 0.62rem;
}
.user-name{
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.likes-and-comments{
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.8rem;
}

.post-options{
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  max-width: 99%;
  margin: 0 auto;
  display: flex;
  align-content: flex-start;
  //justify-content: space-around;
  color: rgba(0, 0, 0, 0.65);
}
.like-logo{
  width: 1rem;
  height: 1rem;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  top: 0.2rem;
  margin-left: 0.1rem;
  z-index: 20;
}
.post-options> button{
  flex-grow: 1;
  //@at-root: 0.7rem;
}

.love-logo{
  width: 1rem;
  height: 1rem;
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  top: 0.2rem;
  margin-left: -0.2rem;
}
.like-btn-logo{
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.08rem;
  margin-left: 0.1rem;
}
.comment-btn-logo{
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  top: 0.25rem;
  margin-left: 0.1rem;
}
.post-options> button:hover{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  // color: #2FA4FF;
  // font-weight: 500;
}
.liked{
  color: #2FA4FF;
  font-weight: 500;
}
.block-btn-logo{
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.15rem;
  margin-left: 0.15rem;
}
.display-likes{
  display: inline-block;
  opacity: 0.8;
  position: absolute;
  padding: 1rem;
  border-radius: 4px;
  bottom: 15rem;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  z-index: 50;
transition: 8s;
}
.likes-container{
  background-color: white;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 4px;
  padding: 0 1rem;
  overflow: auto;
  height: 15rem;
}
.exit-btn{
  width: 1.1rem;
  height: 1.1rem;
  position: relative;
  top: 0.2rem;
  right: -4.5rem;
}
// .comments-container{
//   display: grid;
//   grid-template-columns: 1fr;
// }
// .comment-div{
//   display: block;
// }
.comments-container{
  height: 10rem;
  overflow: auto;
  //transition: 10s;
}
.comment-div{
  display: inline-block;
  margin: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 0.6rem;
}
form{
  //position: fixed;
  border: none;
  //height: 2rem ;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0.2rem;
  margin: 0.5rem;
  top: 0;

}
.write-comment-inp{
  //position: fixed;
  box-sizing: border-box;
  width: 80%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  margin:  0;
  padding: 0.15rem;
}
.tag-friend-logo{
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.15rem;
  margin-left: 0.5rem;
}

.hashtag-logo{
  width: 0.9rem;
  height: 0.9rem;
  position: relative;
  top: 0.15rem;
  margin-left: 0.15rem;
}
.comment-user{
  font-size: 0.8rem;
  font-weight: 500;
}
.comment-content{
  font-weight: 300;
}
.highliteCommentBtn{
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.05);
}