.add-comment-page{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}
.add-comment-container{
  margin: 0 auto;
}
.example-chip-list {
    overflow: auto;
  }
  .exit-img{
     width: 100%; 
  }
  .exit-btn-add-comment{
    width: 10%;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
  }
  .add-coment-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .add-coment-btn:hover {
    background-color: rgb(249,250,251);
  }
  .add-coment-btn:active{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
  }
  
  .add-coment-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .add-coment-btn:focus-visible {
    box-shadow: none;
  }
  input{
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  input:focus{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.01);
  }