.example-chip-list {
    overflow: auto;
  }
  .exit-img{
     width: 100%; 
  }
  .exit-btn-add-comment{
    width: 10%;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
  }
  