<div class="main-page">
    <div class="filter-container">
      <app-side-bar></app-side-bar>
    </div>
    <div class="display-container">
        <nav class="header">
          <ul class="home-navigation">
            <li ><a class = "routing-buttons map-btn" routerLink="/Main-page/Map" routerLinkActive="active">&nbsp;&nbsp;&nbsp;Map&nbsp;&nbsp;&nbsp;</a></li>
            <li  ><a class = "routing-buttons time-line-btn" routerLink="/Main-page/TimeLine" routerLinkActive="active">&nbsp;Time Line&nbsp;</a></li>
          </ul>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>



  