
.main-page{
    display: flex;
   
    //justify-content: flex-end;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    .filter-container{
        flex-grow: 1;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // align-self: flex-start;
        z-index: 2;
        max-width: 40%;
    }
    .display-container{
        box-sizing: border-box;
        flex-grow: 1;
        z-index: 1;
        padding-left: 1rem;
        max-width: 60%;
        justify-self: flex-end;
        // height: 30vh;
        // width: 120%;
        // display: flex;
        // flex-direction: column;

    }
    
}


// .display-container{
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .filter-container{
//     grid-column-start: 2;
//     grid-column-end: 5;
// }

ul{
    display: flex;
}
a{
    text-decoration: none;
}
li{
    display: inline-block;
    margin: 0.7rem;
}

.routing-buttons{
        align-self: center;
        margin-top: 50px;
        // width: 100%;
        background-color: #1845ad;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    
}

.header{
    align-self: center;
}

